* {
    box-sizing: border-box;

}

body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.left_screen {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 10em;

}

.boardContainer {
    height: 42em;
    width: 42em;
    background-color: gray;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr; 
}


.square {
    height: 14em;
    width: 14em;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newRound {
    width: 9em;
    height: 5em;
    font-size: 20px;
    border-radius: 20px;
    
}

.resetScore {
    width: 9em;
    height: 2em;
    font-size: 15px;
    margin-top: 3.25em;
}



.symbolImage {
    height: 100px;
    width: 100px;
    font-size: 100px;
    background-color: transparent;
}



.xSymbol {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14em;
    width: 14em;
    border: 2px solid black;
    pointer-events: none;
}

.oSymbol {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14em;
    width: 14em;
    border: 2px solid black;
    pointer-events: none;
}

.centerDiv {
    height: 50em;
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
    margin-top: 3em;
}

.scoreboard {
    display: flex;
    font-size: 20px;
    gap: 20px;
}

.playerScore {
    height: 1em;
    width: 1em;
    text-align: center;
}

.endSquare {
    pointer-events: none;
}